NODE_ENV = development # production

DISCORD_TOKEN = DISCORD TOKEN GOES HERE
APLICATION_ID = CLIENT ID GOES HERE
DEV_SERVER_ID = DEV SERVER ID GOES HERE
PROD_SERVER_ID = PROD SERVER ID GOES HERE

LOGGER_MIN_LEVEL = info